Repository rdennis125-personal/practx-io: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/orchestrator-ci-cd.yml, pipelines/practx-elm-azure-pipelines.yml, pipelines/practx-infra-azure-pipelines.yml, pipelines/practx-swa-azure-pipelines.yml, pipelines/woo-plugin-build.yml

Path conditions:
  pipelines/orchestrator-ci-cd.yml: any of: apps/orchestrator, pipelines/orchestrator-ci-cd.yml
  pipelines/practx-elm-azure-pipelines.yml: any of: practx-elm, pipelines/practx-elm-azure-pipelines.yml
  pipelines/practx-infra-azure-pipelines.yml: any of: infra, pipelines/practx-infra-azure-pipelines.yml
  pipelines/practx-swa-azure-pipelines.yml: any of: practx-swa, pipelines/practx-swa-azure-pipelines.yml
  pipelines/woo-plugin-build.yml: any of: apps/woo-practx-payments, pipelines/woo-plugin-build.yml

Align SWA auth redirects with welcome page [auto]
  practx-swa/frontend/about.html
  practx-swa/frontend/admin-command-center.html
  practx-swa/frontend/admin.html
  practx-swa/frontend/assets/config/signup-flow.js
  practx-swa/frontend/assets/js/auth-modal.js
  practx-swa/frontend/careers.html
  practx-swa/frontend/contact.html
  practx-swa/frontend/debug/auth-debug.html
  practx-swa/frontend/equipment-management.html
  practx-swa/frontend/equipment/index.html
  practx-swa/frontend/franchise.html
  practx-swa/frontend/hygiene.html
  practx-swa/frontend/index.html
  practx-swa/frontend/leadership.html
  practx-swa/frontend/logout-complete/index.html
  practx-swa/frontend/marketing.html
  practx-swa/frontend/patient-outreach.html
  practx-swa/frontend/patient/index.html
  practx-swa/frontend/practice-management.html
  practx-swa/frontend/practice/index.html
  practx-swa/frontend/practx-service-franchise.html
  practx-swa/frontend/procurement.html
  practx-swa/frontend/service/index.html
  practx-swa/frontend/signup.js
  practx-swa/frontend/smile-spa-franchise.html
  practx-swa/frontend/staffing.html
  practx-swa/frontend/thank-you.html
  practx-swa/frontend/welcome.html
Due: pipelines/practx-swa-azure-pipelines.yml

Align SWA auth redirects with welcome page [auto] (#95)
  practx-swa/frontend/about.html
  practx-swa/frontend/admin-command-center.html
  practx-swa/frontend/admin.html
  practx-swa/frontend/assets/config/signup-flow.js
  practx-swa/frontend/assets/js/auth-modal.js
  practx-swa/frontend/careers.html
  practx-swa/frontend/contact.html
  practx-swa/frontend/debug/auth-debug.html
  practx-swa/frontend/equipment-management.html
  practx-swa/frontend/equipment/index.html
  practx-swa/frontend/franchise.html
  practx-swa/frontend/hygiene.html
  practx-swa/frontend/index.html
  practx-swa/frontend/leadership.html
  practx-swa/frontend/logout-complete/index.html
  practx-swa/frontend/marketing.html
  practx-swa/frontend/patient-outreach.html
  practx-swa/frontend/patient/index.html
  practx-swa/frontend/practice-management.html
  practx-swa/frontend/practice/index.html
  practx-swa/frontend/practx-service-franchise.html
  practx-swa/frontend/procurement.html
  practx-swa/frontend/service/index.html
  practx-swa/frontend/signup.js
  practx-swa/frontend/smile-spa-franchise.html
  practx-swa/frontend/staffing.html
  practx-swa/frontend/thank-you.html
  practx-swa/frontend/welcome.html
Due: pipelines/practx-swa-azure-pipelines.yml

Redirect welcome page to token debug [auto]
  practx-swa/frontend/forbidden.html
  practx-swa/frontend/welcome.html
Due: pipelines/practx-swa-azure-pipelines.yml

Redirect welcome page to token debug [auto] (#96)
  practx-swa/frontend/forbidden.html
  practx-swa/frontend/welcome.html
Due: pipelines/practx-swa-azure-pipelines.yml

Document deployment workflow and troubleshooting notes [auto]
  .github/workflows/deploy-equipment-api.yml
  practx-equipment-api/README.md
  practx-equipment-api/TROUBLESHOOTING.md
  practx-equipment-api/package-lock.json
  practx-equipment-api/package.json
  practx-equipment-api/scripts/smoke.sh
  practx-equipment-api/src/Practx.Equipment.Api/appsettings.json
Due: none

Document deployment workflow and troubleshooting notes [auto] (#97)
  .github/workflows/deploy-equipment-api.yml
  practx-equipment-api/README.md
  practx-equipment-api/TROUBLESHOOTING.md
  practx-equipment-api/package-lock.json
  practx-equipment-api/package.json
  practx-equipment-api/scripts/smoke.sh
  practx-equipment-api/src/Practx.Equipment.Api/appsettings.json
Due: none

Update azure-static-web-apps-delightful-ground-06c5f621e.yml
  .github/workflows/azure-static-web-apps-delightful-ground-06c5f621e.yml
Due: none

Update azure-static-web-apps-mango-moss-04bc3691e.yml
  .github/workflows/azure-static-web-apps-mango-moss-04bc3691e.yml
Due: none

Update azure-static-web-apps.yml
  .github/workflows/azure-static-web-apps.yml
Due: none

Ymlcml (#98)
  .github/workflows/azure-static-web-apps-delightful-ground-06c5f621e.yml
  .github/workflows/azure-static-web-apps-mango-moss-04bc3691e.yml
  .github/workflows/azure-static-web-apps.yml
Due: none

Fix Spectral lint ruleset resolution [auto]
  practx-equipment-api/.spectral.yaml
  practx-equipment-api/package-lock.json
  practx-equipment-api/package.json
Due: none

Fix equipment API shared project path [auto]
  practx-equipment-api/src/Practx.Equipment.Api/Practx.Equipment.Api.csproj
Due: none

Add ASP.NET references to shared library [auto]
  practx-shared-dotnet/src/Practx.Shared/Practx.Shared.csproj
Due: none

Add Microsoft.AspNetCore.OpenApi dependency for WithOpenApi [auto]
  practx-equipment-api/src/Practx.Equipment.Api/Practx.Equipment.Api.csproj
Due: none

Scope SWA workflows to SWA-related paths [auto]
  .github/workflows/azure-static-web-apps-delightful-ground-06c5f621e.yml
  .github/workflows/azure-static-web-apps-mango-moss-04bc3691e.yml
  .github/workflows/azure-static-web-apps.yml
Due: none

Allow equipment API tests to build during CI [auto]
  github/workflows/build-equipment-api.yml
Due: none

Limit SWA push triggers to main [auto]
  .github/workflows/azure-static-web-apps-delightful-ground-06c5f621e.yml
  .github/workflows/azure-static-web-apps-mango-moss-04bc3691e.yml
Due: none

Run SWA workflows on non-main pushes only [auto]
  .github/workflows/azure-static-web-apps-delightful-ground-06c5f621e.yml
  .github/workflows/azure-static-web-apps-mango-moss-04bc3691e.yml
Due: none

Fix Spectral lint ruleset resolution (#99)
  github/workflows/build-equipment-api.yml
  practx-equipment-api/.spectral.yaml
  practx-equipment-api/package-lock.json
  practx-equipment-api/package.json
  practx-equipment-api/src/Practx.Equipment.Api/Practx.Equipment.Api.csproj
  practx-shared-dotnet/src/Practx.Shared/Practx.Shared.csproj
Due: none

Restrict Mango Hill workflow to merged PRs [auto]
  .github/workflows/azure-static-web-apps.yml
Due: none

Scope SWA GitHub Actions to SWA-related changes (#100)
  .github/workflows/azure-static-web-apps-delightful-ground-06c5f621e.yml
  .github/workflows/azure-static-web-apps-mango-moss-04bc3691e.yml
  .github/workflows/azure-static-web-apps.yml
Due: none

Adjust equipment API CI workflow for reliable tests [auto]
  .github/workflows/deploy-equipment-api.yml
  practx-equipment-api/tests/Practx.Equipment.Api.Tests/Practx.Equipment.Api.Tests.csproj
Due: none

ci: add diagnostics and safe vstest fallback; keep pipeline intact [auto]
  .github/workflows/deploy-equipment-api.yml
  practx-equipment-api/tests/Practx.Equipment.Api.Tests/Practx.Equipment.Api.Tests.csproj
Due: none

ci: add diagnostics and safe vstest fallback; keep pipeline intact [auto] (#102)
  .github/workflows/deploy-equipment-api.yml
  practx-equipment-api/tests/Practx.Equipment.Api.Tests/Practx.Equipment.Api.Tests.csproj
Due: none

Validate test project path in deploy workflow [auto]
  .github/workflows/deploy-equipment-api.yml
Due: none

Validate test project path in deploy workflow [auto] (#103)
  .github/workflows/deploy-equipment-api.yml
Due: none

Change environment name to uppercase 'DEV'
  .github/workflows/deploy-equipment-api.yml
Due: none

Align bicep param with ELM_SERVICE_NAME [auto]
  .github/workflows/deploy-equipment-api.yml
  infra/modules/equipment-api/api.bicep
  practx-equipment-api/src/Practx.Equipment.Api/DiagnosticsPayloads.cs
  practx-equipment-api/src/Practx.Equipment.Api/Functions/HealthFunction.cs
  practx-equipment-api/src/Practx.Equipment.Api/Functions/VersionFunction.cs
  practx-equipment-api/src/Practx.Equipment.Api/Practx.Equipment.Api.csproj
  practx-equipment-api/src/Practx.Equipment.Api/Program.cs
  practx-equipment-api/src/Practx.Equipment.Api/host.json
  practx-equipment-api/tests/Practx.Equipment.Api.Tests/HealthEndpointTests.cs
  practx-equipment-api/tests/Practx.Equipment.Api.Tests/Practx.Equipment.Api.Tests.csproj
  practx-equipment-api/tests/Practx.Equipment.Api.Tests/VersionPayloadTests.cs
Due: pipelines/practx-infra-azure-pipelines.yml

Use CICD_RG for ELM resource group [auto]
  .github/workflows/deploy-equipment-api.yml
Due: none

Align equipment API Bicep parameter with `ELM_SERVICE_NAME` (#104)
  .github/workflows/deploy-equipment-api.yml
  infra/modules/equipment-api/api.bicep
  practx-equipment-api/src/Practx.Equipment.Api/DiagnosticsPayloads.cs
  practx-equipment-api/src/Practx.Equipment.Api/Functions/HealthFunction.cs
  practx-equipment-api/src/Practx.Equipment.Api/Functions/VersionFunction.cs
  practx-equipment-api/src/Practx.Equipment.Api/Practx.Equipment.Api.csproj
  practx-equipment-api/src/Practx.Equipment.Api/Program.cs
  practx-equipment-api/src/Practx.Equipment.Api/host.json
  practx-equipment-api/tests/Practx.Equipment.Api.Tests/HealthEndpointTests.cs
  practx-equipment-api/tests/Practx.Equipment.Api.Tests/Practx.Equipment.Api.Tests.csproj
  practx-equipment-api/tests/Practx.Equipment.Api.Tests/VersionPayloadTests.cs
Due: pipelines/practx-infra-azure-pipelines.yml

Replace ELM_AZ_RG with CICD_RG [auto]
  .github/workflows/deploy-equipment-api.yml
Due: none

Replace ELM_AZ_RG with CICD_RG [auto] (#105)
  .github/workflows/deploy-equipment-api.yml
Due: none

Add equipment CRUD API and UI wiring [auto]
  practx-contracts/openapi/equipment/v1/openapi.yaml
  practx-equipment-api/OpenAPI/openapi.yaml
  practx-equipment-api/src/Practx.Equipment.Api/Data/EquipmentDatabase.cs
  practx-equipment-api/src/Practx.Equipment.Api/Data/EquipmentDatabaseOptions.cs
  practx-equipment-api/src/Practx.Equipment.Api/Data/EquipmentMigrationHostedService.cs
  practx-equipment-api/src/Practx.Equipment.Api/Data/IEquipmentRepository.cs
  practx-equipment-api/src/Practx.Equipment.Api/Data/SqliteEquipmentRepository.cs
  practx-equipment-api/src/Practx.Equipment.Api/Dtos/EquipmentCreateRequest.cs
  practx-equipment-api/src/Practx.Equipment.Api/Dtos/EquipmentListResponse.cs
  practx-equipment-api/src/Practx.Equipment.Api/Dtos/EquipmentResponse.cs
  practx-equipment-api/src/Practx.Equipment.Api/Dtos/EquipmentUpdateRequest.cs
  practx-equipment-api/src/Practx.Equipment.Api/Functions/EquipmentFunctions.cs
  practx-equipment-api/src/Practx.Equipment.Api/Migrations/001_create_equipment.sql
  practx-equipment-api/src/Practx.Equipment.Api/Models/EquipmentMonitoringFlags.cs
  practx-equipment-api/src/Practx.Equipment.Api/Models/EquipmentQuery.cs
  practx-equipment-api/src/Practx.Equipment.Api/Models/EquipmentRecord.cs
  practx-equipment-api/src/Practx.Equipment.Api/Models/EquipmentStatus.cs
  practx-equipment-api/src/Practx.Equipment.Api/Practx.Equipment.Api.csproj
  practx-equipment-api/src/Practx.Equipment.Api/Program.cs
  practx-equipment-api/src/Practx.Equipment.Api/Services/EquipmentService.cs
  practx-equipment-api/src/Practx.Equipment.Api/Services/IEquipmentService.cs
  practx-equipment-api/src/Practx.Equipment.Api/appsettings.json
  practx-swa/frontend/equipment/elm-command-center.html
Due: pipelines/practx-swa-azure-pipelines.yml

Add equipment CRUD API and UI wiring [auto] (#106)
  practx-contracts/openapi/equipment/v1/openapi.yaml
  practx-equipment-api/OpenAPI/openapi.yaml
  practx-equipment-api/src/Practx.Equipment.Api/Data/EquipmentDatabase.cs
  practx-equipment-api/src/Practx.Equipment.Api/Data/EquipmentDatabaseOptions.cs
  practx-equipment-api/src/Practx.Equipment.Api/Data/EquipmentMigrationHostedService.cs
  practx-equipment-api/src/Practx.Equipment.Api/Data/IEquipmentRepository.cs
  practx-equipment-api/src/Practx.Equipment.Api/Data/SqliteEquipmentRepository.cs
  practx-equipment-api/src/Practx.Equipment.Api/Dtos/EquipmentCreateRequest.cs
  practx-equipment-api/src/Practx.Equipment.Api/Dtos/EquipmentListResponse.cs
  practx-equipment-api/src/Practx.Equipment.Api/Dtos/EquipmentResponse.cs
  practx-equipment-api/src/Practx.Equipment.Api/Dtos/EquipmentUpdateRequest.cs
  practx-equipment-api/src/Practx.Equipment.Api/Functions/EquipmentFunctions.cs
  practx-equipment-api/src/Practx.Equipment.Api/Migrations/001_create_equipment.sql
  practx-equipment-api/src/Practx.Equipment.Api/Models/EquipmentMonitoringFlags.cs
  practx-equipment-api/src/Practx.Equipment.Api/Models/EquipmentQuery.cs
  practx-equipment-api/src/Practx.Equipment.Api/Models/EquipmentRecord.cs
  practx-equipment-api/src/Practx.Equipment.Api/Models/EquipmentStatus.cs
  practx-equipment-api/src/Practx.Equipment.Api/Practx.Equipment.Api.csproj
  practx-equipment-api/src/Practx.Equipment.Api/Program.cs
  practx-equipment-api/src/Practx.Equipment.Api/Services/EquipmentService.cs
  practx-equipment-api/src/Practx.Equipment.Api/Services/IEquipmentService.cs
  practx-equipment-api/src/Practx.Equipment.Api/appsettings.json
  practx-swa/frontend/equipment/elm-command-center.html
Due: pipelines/practx-swa-azure-pipelines.yml

Add practice command center mock interactions [auto]
  practx-swa/frontend/assets/js/entity-forms.js
  practx-swa/frontend/practice/practice-command-center.html
Due: pipelines/practx-swa-azure-pipelines.yml

Add practice command center mock interactions [auto] (#107)
  practx-swa/frontend/assets/js/entity-forms.js
  practx-swa/frontend/practice/practice-command-center.html
Due: pipelines/practx-swa-azure-pipelines.yml

Add service command center mock flows [auto]
  practx-swa/frontend/assets/js/entity-forms.js
  practx-swa/frontend/service/service-command-center.html
Due: pipelines/practx-swa-azure-pipelines.yml

Add service command center mock flows [auto] (#108)
  practx-swa/frontend/assets/js/entity-forms.js
  practx-swa/frontend/service/service-command-center.html
Due: pipelines/practx-swa-azure-pipelines.yml

Add patient outreach command center mock interactions [auto]
  practx-swa/frontend/assets/js/entity-forms.js
  practx-swa/frontend/patient/outreach-command-center.html
Due: pipelines/practx-swa-azure-pipelines.yml

Add patient outreach command center mock interactions [auto] (#109)
  practx-swa/frontend/assets/js/entity-forms.js
  practx-swa/frontend/patient/outreach-command-center.html
Due: pipelines/practx-swa-azure-pipelines.yml
