Repository rdennis125-personal/practx-io: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/orchestrator-ci-cd.yml, pipelines/practx-elm-azure-pipelines.yml, pipelines/practx-infra-azure-pipelines.yml, pipelines/practx-swa-azure-pipelines.yml, pipelines/woo-plugin-build.yml

Path conditions:
  pipelines/orchestrator-ci-cd.yml: any of: apps/orchestrator, pipelines/orchestrator-ci-cd.yml
  pipelines/practx-elm-azure-pipelines.yml: any of: practx-elm, pipelines/practx-elm-azure-pipelines.yml
  pipelines/practx-infra-azure-pipelines.yml: any of: infra, pipelines/practx-infra-azure-pipelines.yml
  pipelines/practx-swa-azure-pipelines.yml: any of: practx-swa, pipelines/practx-swa-azure-pipelines.yml
  pipelines/woo-plugin-build.yml: any of: apps/woo-practx-payments, pipelines/woo-plugin-build.yml

Update storage.bicep
  infra/modules/storage.bicep
Due: pipelines/practx-infra-azure-pipelines.yml

Storage infra (#61)
  .github/workflows/bicep-validate.yml
  .github/workflows/infra-storage.yml
  infra/modules/storage.bicep
Due: pipelines/practx-infra-azure-pipelines.yml

Convert Hello World CTA to text link [auto]
  practx-swa/frontend/assets/styles.css
  practx-swa/frontend/index.html
Due: pipelines/practx-swa-azure-pipelines.yml

Convert Hello World CTA to text link [auto] (#62)
  practx-swa/frontend/assets/styles.css
  practx-swa/frontend/index.html
Due: pipelines/practx-swa-azure-pipelines.yml

Update HelloWorld API to store blobs by interest [auto]
  practx-swa/api/HelloWorld/index.js
  practx-swa/frontend/signup.js
Due: pipelines/practx-swa-azure-pipelines.yml

Add storage connection fallbacks for HelloWorld API [auto]
  practx-swa/api/HelloWorld/index.js
Due: pipelines/practx-swa-azure-pipelines.yml

Derive blob URL from uploaded block blob [auto]
  practx-swa/api/HelloWorld/index.js
Due: pipelines/practx-swa-azure-pipelines.yml

Support container overrides for HelloWorld uploads [auto]
  practx-swa/README.md
  practx-swa/api/HelloWorld/index.js
Due: pipelines/practx-swa-azure-pipelines.yml

Rename blob container env vars to avoid reserved prefixes [auto]
  practx-swa/README.md
  practx-swa/api/HelloWorld/index.js
Due: pipelines/practx-swa-azure-pipelines.yml

Use PRACTX_WEBJOB_STORAGE for storage connections [auto]
  infra/bicep/modules/functionApp.bicep
  practx-swa/README.md
  practx-swa/api/HelloWorld/index.js
  practx-swa/api/Signup/index.js
Due: pipelines/practx-infra-azure-pipelines.yml, pipelines/practx-swa-azure-pipelines.yml

Update HelloWorld API to store blobs by request interest (#63)
  infra/bicep/modules/functionApp.bicep
  practx-swa/README.md
  practx-swa/api/HelloWorld/index.js
  practx-swa/api/Signup/index.js
  practx-swa/frontend/signup.js
Due: pipelines/practx-infra-azure-pipelines.yml, pipelines/practx-swa-azure-pipelines.yml

Add API Management module and pipeline integration [auto]
  Environments/EnvironmentDefinitions/practx-apim/main.bicep
  Environments/dev-platform/main.bicep
  infra/bicep/main.bicep
  infra/modules/apim.bicep
  infra/modules/policies/check-entitlement.xml
  pipelines/practx-infra-azure-pipelines.yml
Due: pipelines/practx-infra-azure-pipelines.yml

Rename infrastructure main templates to commented text placeholders [auto]
  Environments/EnvironmentDefinitions/practx-apim/main.bicep
  Environments/EnvironmentDefinitions/practx-apim/main.txt
  Environments/EnvironmentDefinitions/practx-application-insights/main.bicep
  Environments/EnvironmentDefinitions/practx-application-insights/main.txt
  Environments/EnvironmentDefinitions/practx-appservice/main.bicep
  Environments/EnvironmentDefinitions/practx-appservice/main.txt
  Environments/EnvironmentDefinitions/practx-functions/main.bicep
  Environments/EnvironmentDefinitions/practx-functions/main.txt
  Environments/EnvironmentDefinitions/practx-keyvault/main.bicep
  Environments/EnvironmentDefinitions/practx-keyvault/main.txt
  Environments/EnvironmentDefinitions/practx-shared-storage/main.bicep
  Environments/EnvironmentDefinitions/practx-shared-storage/main.txt
  Environments/EnvironmentDefinitions/practx-sql/main.bicep
  Environments/EnvironmentDefinitions/practx-sql/main.txt
  Environments/EnvironmentDefinitions/practx-staticwebapp/main.bicep
  Environments/EnvironmentDefinitions/practx-staticwebapp/main.txt
  Environments/dev-platform/main.bicep
  Environments/dev-platform/main.txt
  infra/bicep/main.bicep
  infra/bicep/main.txt
Due: pipelines/practx-infra-azure-pipelines.yml

Add API Management module and pipeline integration (#64)
  Environments/EnvironmentDefinitions/practx-apim/main.bicep
  Environments/EnvironmentDefinitions/practx-apim/main.txt
  Environments/EnvironmentDefinitions/practx-application-insights/main.bicep
  Environments/EnvironmentDefinitions/practx-application-insights/main.txt
  Environments/EnvironmentDefinitions/practx-appservice/main.bicep
  Environments/EnvironmentDefinitions/practx-appservice/main.txt
  Environments/EnvironmentDefinitions/practx-functions/main.bicep
  Environments/EnvironmentDefinitions/practx-functions/main.txt
  Environments/EnvironmentDefinitions/practx-keyvault/main.bicep
  Environments/EnvironmentDefinitions/practx-keyvault/main.txt
  Environments/EnvironmentDefinitions/practx-shared-storage/main.bicep
  Environments/EnvironmentDefinitions/practx-shared-storage/main.txt
  Environments/EnvironmentDefinitions/practx-sql/main.bicep
  Environments/EnvironmentDefinitions/practx-sql/main.txt
  Environments/EnvironmentDefinitions/practx-staticwebapp/main.bicep
  Environments/EnvironmentDefinitions/practx-staticwebapp/main.txt
  Environments/dev-platform/main.bicep
  Environments/dev-platform/main.txt
  infra/bicep/main.bicep
  infra/bicep/main.txt
  infra/modules/apim.bicep
  infra/modules/policies/check-entitlement.xml
  pipelines/practx-infra-azure-pipelines.yml
Due: pipelines/practx-infra-azure-pipelines.yml

Add Azure SQL module and core ELM schema [auto]
  Environments/EnvironmentDefinitions/practx-sql/main.bicep
  database/elm/Scripts/ELM_CORE.sql
  database/elm/elm-database.sqlproj
  docs/azure-devops-pipelines.md
  docs/infra-variables.md
  infra/bicep/main.bicep
  infra/modules/sql.bicep
  pipelines/practx-infra-azure-pipelines.yml
Due: pipelines/practx-infra-azure-pipelines.yml

Restore pre-SQL main.bicep templates [auto]
  Environments/EnvironmentDefinitions/practx-sql/main.bicep
  infra/bicep/main.bicep
Due: pipelines/practx-infra-azure-pipelines.yml

Add Azure SQL infrastructure module and ELM schema (#65)
  database/elm/Scripts/ELM_CORE.sql
  database/elm/elm-database.sqlproj
  docs/azure-devops-pipelines.md
  docs/infra-variables.md
  infra/modules/sql.bicep
  pipelines/practx-infra-azure-pipelines.yml
Due: pipelines/practx-infra-azure-pipelines.yml

Modularize APIM and SQL workflows [auto]
  .github/workflows/infra-apim.yml
  .github/workflows/infra-sql.yml
  README.md
  docs/infra-variables.md
Due: none

Modularize APIM and SQL workflows [auto] (#66)
  .github/workflows/infra-apim.yml
  .github/workflows/infra-sql.yml
  README.md
  docs/infra-variables.md
Due: none

Standardize APIM base URL variables and document catalog [auto]
  VARIABLES.md
  infra/modules/access-api/api.bicep
  infra/modules/equipment-api/api.bicep
  infra/modules/patients-api/api.bicep
  infra/modules/practice-api/api.bicep
  infra/modules/service-api/api.bicep
  practx-access-api/README.md
  practx-equipment-api/README.md
  practx-patients-api/README.md
  practx-practice-api/README.md
  practx-service-api/README.md
  practx-swa/README.md
Due: pipelines/practx-infra-azure-pipelines.yml, pipelines/practx-swa-azure-pipelines.yml

Standardize APIM base URL variables and document catalog [auto] (#68)
  VARIABLES.md
  infra/modules/access-api/api.bicep
  infra/modules/equipment-api/api.bicep
  infra/modules/patients-api/api.bicep
  infra/modules/practice-api/api.bicep
  infra/modules/service-api/api.bicep
  practx-access-api/README.md
  practx-equipment-api/README.md
  practx-patients-api/README.md
  practx-practice-api/README.md
  practx-service-api/README.md
  practx-swa/README.md
Due: pipelines/practx-infra-azure-pipelines.yml, pipelines/practx-swa-azure-pipelines.yml

Inline kits content on patient outreach page [auto]
  practx-swa/frontend/assets/images/co-branded-kit.svg
  practx-swa/frontend/assets/patient-outreach.js
  practx-swa/frontend/assets/styles.css
  practx-swa/frontend/contact.html
  practx-swa/frontend/patient-outreach.html
Due: pipelines/practx-swa-azure-pipelines.yml

Delete practx-swa/frontend/assets/images/co-branded-kit.svg
  practx-swa/frontend/assets/images/co-branded-kit.svg
Due: pipelines/practx-swa-azure-pipelines.yml

Delete practx-swa/frontend/assets/patient-outreach.js
  practx-swa/frontend/assets/patient-outreach.js
Due: pipelines/practx-swa-azure-pipelines.yml

removed style changes that I didn't ask for
  practx-swa/frontend/assets/styles.css
Due: pipelines/practx-swa-azure-pipelines.yml

Update contact.html
  practx-swa/frontend/contact.html
Due: pipelines/practx-swa-azure-pipelines.yml

Inline kits content on patient outreach page [auto] (#71)
  practx-swa/frontend/assets/images/co-branded-kit.svg
  practx-swa/frontend/assets/patient-outreach.js
  practx-swa/frontend/assets/styles.css
  practx-swa/frontend/contact.html
  practx-swa/frontend/patient-outreach.html
Due: pipelines/practx-swa-azure-pipelines.yml

Add logout completion page for SSO sign-out [auto]
  practx-swa/frontend/logout-complete/index.html
  practx-swa/frontend/sitemap.xml
Due: pipelines/practx-swa-azure-pipelines.yml

Add logout completion page for SSO sign-out [auto] (#72)
  practx-swa/frontend/logout-complete/index.html
  practx-swa/frontend/sitemap.xml
Due: pipelines/practx-swa-azure-pipelines.yml

Revamp mock ELM command center around equipment lifecycle data [auto]
  practx-swa/frontend/about.html
  practx-swa/frontend/admin.html
  practx-swa/frontend/assets/styles.css
  practx-swa/frontend/careers.html
  practx-swa/frontend/contact.html
  practx-swa/frontend/equipment-management.html
  practx-swa/frontend/equipment/index.html
  practx-swa/frontend/franchise.html
  practx-swa/frontend/hygiene.html
  practx-swa/frontend/index.html
  practx-swa/frontend/leadership.html
  practx-swa/frontend/logout-complete/index.html
  practx-swa/frontend/marketing.html
  practx-swa/frontend/patient-outreach.html
  practx-swa/frontend/patient/index.html
  practx-swa/frontend/practice-management.html
  practx-swa/frontend/practice/elm-command-center.html
  practx-swa/frontend/practice/index.html
  practx-swa/frontend/practx-service-franchise.html
  practx-swa/frontend/procurement.html
  practx-swa/frontend/service/index.html
  practx-swa/frontend/smile-spa-franchise.html
  practx-swa/frontend/staffing.html
  practx-swa/frontend/thank-you.html
Due: pipelines/practx-swa-azure-pipelines.yml

Revamp mock ELM command center around equipment lifecycle data [auto] (#73)
  practx-swa/frontend/about.html
  practx-swa/frontend/admin.html
  practx-swa/frontend/assets/styles.css
  practx-swa/frontend/careers.html
  practx-swa/frontend/contact.html
  practx-swa/frontend/equipment-management.html
  practx-swa/frontend/equipment/index.html
  practx-swa/frontend/franchise.html
  practx-swa/frontend/hygiene.html
  practx-swa/frontend/index.html
  practx-swa/frontend/leadership.html
  practx-swa/frontend/logout-complete/index.html
  practx-swa/frontend/marketing.html
  practx-swa/frontend/patient-outreach.html
  practx-swa/frontend/patient/index.html
  practx-swa/frontend/practice-management.html
  practx-swa/frontend/practice/elm-command-center.html
  practx-swa/frontend/practice/index.html
  practx-swa/frontend/practx-service-franchise.html
  practx-swa/frontend/procurement.html
  practx-swa/frontend/service/index.html
  practx-swa/frontend/smile-spa-franchise.html
  practx-swa/frontend/staffing.html
  practx-swa/frontend/thank-you.html
Due: pipelines/practx-swa-azure-pipelines.yml

Move ELM command center under equipment route [auto]
  practx-swa/frontend/about.html
  practx-swa/frontend/admin.html
  practx-swa/frontend/careers.html
  practx-swa/frontend/contact.html
  practx-swa/frontend/equipment-management.html
  practx-swa/frontend/equipment/elm-command-center.html
  practx-swa/frontend/equipment/index.html
  practx-swa/frontend/franchise.html
  practx-swa/frontend/hygiene.html
  practx-swa/frontend/index.html
  practx-swa/frontend/leadership.html
  practx-swa/frontend/logout-complete/index.html
  practx-swa/frontend/marketing.html
  practx-swa/frontend/patient-outreach.html
  practx-swa/frontend/patient/index.html
  practx-swa/frontend/practice-management.html
  practx-swa/frontend/practice/index.html
  practx-swa/frontend/practx-service-franchise.html
  practx-swa/frontend/procurement.html
  practx-swa/frontend/service/index.html
  practx-swa/frontend/smile-spa-franchise.html
  practx-swa/frontend/staffing.html
  practx-swa/frontend/thank-you.html
Due: pipelines/practx-swa-azure-pipelines.yml

Move ELM command center under equipment route [auto] (#74)
  practx-swa/frontend/about.html
  practx-swa/frontend/admin.html
  practx-swa/frontend/careers.html
  practx-swa/frontend/contact.html
  practx-swa/frontend/equipment-management.html
  practx-swa/frontend/equipment/elm-command-center.html
  practx-swa/frontend/equipment/index.html
  practx-swa/frontend/franchise.html
  practx-swa/frontend/hygiene.html
  practx-swa/frontend/index.html
  practx-swa/frontend/leadership.html
  practx-swa/frontend/logout-complete/index.html
  practx-swa/frontend/marketing.html
  practx-swa/frontend/patient-outreach.html
  practx-swa/frontend/patient/index.html
  practx-swa/frontend/practice-management.html
  practx-swa/frontend/practice/index.html
  practx-swa/frontend/practx-service-franchise.html
  practx-swa/frontend/procurement.html
  practx-swa/frontend/service/index.html
  practx-swa/frontend/smile-spa-franchise.html
  practx-swa/frontend/staffing.html
  practx-swa/frontend/thank-you.html
Due: pipelines/practx-swa-azure-pipelines.yml

Enable SWA ELM SSO and RBAC [auto]
  github/workflows/deploy-swa.yml
  practx-swa/frontend/assets/config/msal.json
  practx-swa/frontend/assets/js/msal-init.js
  practx-swa/frontend/equipment/elm-command-center.html
  practx-swa/frontend/forbidden.html
  practx-swa/staticwebapp.config.json
Due: pipelines/practx-swa-azure-pipelines.yml

Enable SWA ELM SSO and RBAC [auto] (#75)
  github/workflows/deploy-swa.yml
  practx-swa/frontend/assets/config/msal.json
  practx-swa/frontend/assets/js/msal-init.js
  practx-swa/frontend/equipment/elm-command-center.html
  practx-swa/frontend/forbidden.html
  practx-swa/staticwebapp.config.json
Due: pipelines/practx-swa-azure-pipelines.yml

Add SWA auth debug utilities [auto]
  practx-swa/frontend/debug/auth-debug.html
  practx-swa/frontend/debug/token-debug.html
  practx-swa/staticwebapp.config.json
Due: pipelines/practx-swa-azure-pipelines.yml

Add SWA auth debug utilities [auto] (#76)
  practx-swa/frontend/debug/auth-debug.html
  practx-swa/frontend/debug/token-debug.html
  practx-swa/staticwebapp.config.json
Due: pipelines/practx-swa-azure-pipelines.yml
